{{#if image.thumbUrl}}
  <img {{bind-attr src="image.thumbUrl"}}>
{{else}}
  {{#if error}}
    <button {{action "removeItem" image}}>
      &times;
    </button>
    <h2>{{error}}</h2>
  {{else}}
    {{#unless image.isInUploading}}
      {{progress-spinner}}
    {{/unless}}
    <h2>{{image.file.name}}</h2>
    {{progress-bar progress=image.progress}}
  {{/if}}
{{/if}}
