{{#if image.thumbUrl}}
  <img {{bind-attr src="image.thumbUrl"}}>
{{else}}
  {{#if image.isInFailed}}
    <button {{action "removeItem" image}}>
      &times; {{! LOL sorry not sorry Jorge }}
    </button>
    {{#if error}}
      <h2>{{error}}</h2>
    {{/if}}
  {{else}}
    {{ui-spinner}}
    <h2>{{image.file.name}}</h2>
    {{progress-bar progress=image.wholeProgress}}
  {{/if}}
{{/if}}
