{{#if image.thumbUrl}}
  <img {{bind-attr src="image.thumbUrl"}}>
{{else}}
  {{#if image.isInFailed}}
    <button {{action "removeItem" image}}>
      X {{! LOL sorry not sorry Jorge }}
    </button>
    {{error}}
  {{else}}
    {{ui-spinner}}
    [{{image.wholeProgress}}%]
    <h2>{{image.file.name}}</h2>
  {{/if}}
{{/if}}
