<div class="add-image">
  {{ui-file-picker label="+ Add Image" selected="addFiles" multiple=true}}
</div>

<ul class="images-list">
  {{#each image in this}}
    <li {{bind-attr class=":image-item image.currentState"}}>
      {{#if image.thumbUrl}}
        <img {{bind-attr src="image.thumbUrl"}}>
      {{else}}
        {{#if image.isInFailed}}
          {{error}}
        {{else}}
          {{ui-spinner}}
          [{{image.wholeProgress}}%]
          {{image.file.name}}
        {{/if}}
      {{/if}}
    </li>
  {{/each}}
</ul>
