<section class="images">
  <p class="add-image">
    {{ui-file-picker label="+ Add Image" selected="addFiles" multiple=true}}
  </p>

  <ul>
    {{#each image in this}}
      <li>
        {{#if image.thumbUrl}}
          <img {{bind-attr src="image.thumbUrl"}}>
        {{else}}
          [{{image.wholeProgress}}%]
          {{image.file.name}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
</section>
